// colors
$mapLoadingColor: lightgreen;
$white: white;
$contentBackground: whitesmoke;
$greyLinesColor: grey;
$lightGreyLines: lightgrey;
$linkColor: blue;

// dimensions

// breakpoints
$mobileBreakpoint: 480px;
