@import "constants";
@import "mixins";

body {
  position: absolute;
  height: 100%;
  width: 100%;
  background: lightgreen;
  font-family: sans-serif;
  margin: 0;

  @media screen and (min-width: $mobileBreakpoint) {
    margin: 8px;
  }
}

#delivery-header {
  @include contentContainerStyle;
  @media screen and (min-width: $mobileBreakpoint) {
    margin: 10px 0 0 10px;
  }
}

#desktop-filler__container {
  overflow-y: hidden;
  padding: 0 10px;
  margin: -5px 0;
  height: calc(100vh - 404px);
}

#desktop-filler__fill {
  display: none;

  @media screen and (min-width: $mobileBreakpoint) {
    display: block;
    position: relative;
    background: $contentBackground;
    width: 300px;
    box-shadow: 0 0 8px $greyLinesColor;
    height: 100%;
    z-index: 100;
  }
}

#delivery-footer {
  position: absolute;
  width: 100%;
  padding-top: 10px;
  bottom: 0;

  @include contentContainerStyle;
  @media screen and (min-width: $mobileBreakpoint) {
    margin: 0 0 10px 10px;
  }
}

#delivery-information {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;

  @media screen and (min-width: $mobileBreakpoint) {
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }
}

.delivery-option {
  position: relative;
  background: $white;
  height: 50px;
  width: auto;
  border: 1px solid $lightGreyLines;
  border-radius: 5px;
  margin: 5px 10px;

  @media screen and (min-width: $mobileBreakpoint) {
    width: 280px;
    margin: 5px auto;
  }
}

.icon-container {
  position: relative;
  top: 10px;
  left: 10px;
}

.delivery-option__icon {
  position: absolute;
  background: $white;
}

.question-mark-icon {
  left: 12px;
  top: 6px;
}

.delivery-option__text-container {
  @include smallFont;
  padding: 11px 0 11px 60px;
}

.one-line-height {
  padding: 18px 0 18px 60px;
}

.subText {
  color: $greyLinesColor;
}

.delivery-option__link {
  position: absolute;
  @include smallFont;
  color: blue;
  top: 18px;
  right: 15px;
}

.company-logo-style {
  width: 100px;
  margin: 0;

  @media screen and (min-width: $mobileBreakpoint) {
    margin: 20px;
  }
}

#out-for-delivery {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 0;

  @media screen and (min-width: $mobileBreakpoint) {
    align-items: center;
    margin-bottom: 20px;
  }
}

#out-for-delivery__label {
  @include smallFont;
}

#out-for-delivery__time {
  font-size: 24px;
  font-weight: bold;
}
