body {
  position: absolute;
  height: 100%;
  width: 100%;
  background: lightgreen;
  font-family: sans-serif;
  margin: 0;
}

#delivery-header {
  background: whitesmoke;
  box-shadow: 0 0 8px grey;
  padding-bottom: 10px;
}
@media screen and (min-width: 480px) {
  #delivery-header {
    width: 300px;
    padding: 5px 0;
    border-radius: 5px;
  }
}
@media screen and (min-width: 480px) {
  #delivery-header {
    margin: 10px 0 0 10px;
  }
}

#desktop-filler__container {
  overflow-y: hidden;
  padding: 0 10px;
  margin: -5px 0;
  height: calc(100vh - 404px);
}

#desktop-filler__fill {
  display: none;
}
@media screen and (min-width: 480px) {
  #desktop-filler__fill {
    display: block;
    position: relative;
    background: whitesmoke;
    width: 300px;
    box-shadow: 0 0 8px grey;
    height: 100%;
    z-index: 100;
  }
}

#delivery-footer {
  position: absolute;
  width: 100%;
  padding-top: 10px;
  bottom: 0;
  background: whitesmoke;
  box-shadow: 0 0 8px grey;
  padding-bottom: 10px;
}
@media screen and (min-width: 480px) {
  #delivery-footer {
    width: 300px;
    padding: 5px 0;
    border-radius: 5px;
  }
}
@media screen and (min-width: 480px) {
  #delivery-footer {
    margin: 0 0 10px 10px;
  }
}

#delivery-information {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
}
@media screen and (min-width: 480px) {
  #delivery-information {
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }
}

.delivery-option {
  position: relative;
  background: white;
  height: 50px;
  width: auto;
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin: 5px 10px;
}
@media screen and (min-width: 480px) {
  .delivery-option {
    width: 280px;
    margin: 5px auto;
  }
}

.icon-container {
  position: relative;
  top: 10px;
  left: 10px;
}

.delivery-option__icon {
  position: absolute;
  background: white;
}

.question-mark-icon {
  left: 12px;
  top: 6px;
}

.delivery-option__text-container {
  font-size: 12px;
  padding: 11px 0 11px 60px;
}

.one-line-height {
  padding: 18px 0 18px 60px;
}

.subText {
  color: grey;
}

.delivery-option__link {
  position: absolute;
  font-size: 12px;
  color: blue;
  top: 18px;
  right: 15px;
}

.company-logo-style {
  width: 100px;
  margin: 0;
}
@media screen and (min-width: 480px) {
  .company-logo-style {
    margin: 20px;
  }
}

#out-for-delivery {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 0;
}
@media screen and (min-width: 480px) {
  #out-for-delivery {
    align-items: center;
    margin-bottom: 20px;
  }
}

#out-for-delivery__label {
  font-size: 12px;
}

#out-for-delivery__time {
  font-size: 24px;
  font-weight: bold;
}

.delivery-map {
  width: 100%;
  height: 100%;
  margin: -10px;
  z-index: -1;
  padding-right: 10px;
}

.place-selector {
  position: absolute;
  z-index: 100;
  bottom: 140px;
  left: 30%;
}
@media screen and (min-width: 480px) {
  .place-selector {
    left: 75px;
  }
}

/*# sourceMappingURL=index.css.map */
